/*   TEAM ENGINUITY
      FTC 5969 / FRC 4538
      DESIGN BY JONATHAN LACSON
      CSS -- FOR INDEX ONLY (STYLES HEADERS, FOOTERS, ETC. ONLY!)

      CODED IN BRACKETS */

html, body {
    padding: 0;
    margin: auto;
    height: 1650px;
}

html {
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzgwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzgwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ffffff 0%, #800000 20%, #800000 80%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(20%,#800000), color-stop(80%,#800000), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #ffffff 0%,#800000 20%,#800000 80%,#ffffff 100%);
    background: -o-linear-gradient(left,  #ffffff 0%,#800000 20%,#800000 80%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #ffffff 0%,#800000 20%,#800000 80%,#ffffff 100%);
    background: linear-gradient(to right,  #ffffff 0%,#800000 20%,#800000 80%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

body {
    padding: 0;
    width: 960px;
    background: #ffffff;
}

#page {
    min-height: 100%;
    height: 100%;
    position: relative;
}

#main {
    padding-bottom: 150px;
}

/* ===============
   ==  SIDEBAR  ==
   =============== */

#main-sidebar p a {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear; 
    -o-transition: all 0.15s linear; 
    -ms-transition: all 0.15s linear; 
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 30%;
}

#main-sidebar p a:hover {
    line-height: 100%;
    font-size: 2.00em;
    text-align: center;
    font-weight: bold;
    color: #A60000;
}

#main-sidebar ul li:visited {
    color: black;
}

#main-sidebar a {
    text-decoration: none;
    color: black;
}

#main-sidebar {
    margin-top: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* ===============
   ==  CONTENT  ==
   =============== */

#main-content {
    margin-top: 10px;
    padding-right: 10px;
    float: right;
    height: 1300px;
    width: 77%;
}

/* ================
   ===  HEADER  ===
   ================ */

#header {
    height: 150px;
    width: 100%;
    background: #A60000;
    color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 5px;
    display: table;
}

#header-logo {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

#header-logo img {
    width: 150px;
    height: 150px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; 
    -o-transition: all 0.25s ease-in-out; 
    -ms-transition: all 0.25s ease-in-out; 
}

#header-logo img:hover {
    -webkit-transform: rotate(15deg); 
    -moz-transform: rotate(15deg); 
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg); 
}

#header-text {
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    float: left;
    padding-bottom: 25px;
}

#header-text h1 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 300%;
}

#header h2 {
    vertical-align: middle;
    line-height: 30%;
}

#header a {
    color: #ffffff;
    text-decoration: none;
}

#header a:visited {
    color: #ffffff;
}

#header-firstlogo {
    width: 150px;
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
}

#header-firstlogo img {
    width: 150px;
}


/* ================
   ===  FOOTER  ===
   ================ */

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    background: #A60000;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table;
    table-layout: fixed;
}

#footer a {
    color: #ff7373;
    text-decoration: none;
}

#footer * {
    vertical-align: middle;
    padding: 0;
}

#footer-top {
    display: table-row;
}

#footer-bottom {
    display: table-row;
}

/* FTC/FRC logos */

#footer-leagues {
    width: 20%;
    display: table-cell;
}

#footer-leagues img {
    height: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; 
    -o-transition: all 0.25s ease-in-out; 
    -ms-transition: all 0.25s ease-in-out;
}

#footer-leagues img {
    background: #ffffff;
}

#footer-leagues img:hover {
    background: #ff7373;
}

/* Warwick HS Info */

#footer-whs {
    font-size: 0.8em;
    display: table-cell;
    width: 20%;
    padding-left: 2%;
}

/* Social Media Logos */

#footer-socialmedia {
    width: 60%;
    display: table-cell;
}

#footer-socialmedia p {
    display: inline;
}

#footer-socialmedia img {
    padding: 30px;
    height: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; 
    -o-transition: all 0.25s ease-in-out; 
    -ms-transition: all 0.25s ease-in-out; 
}

#footer-socialmedia img:hover {
    height: 75px;
}

/* Bottom Info */

#footer-bottom-info {
    line-height: 10%;
    width: 960px;
    font-size: 0.75em;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif
}