// TEAM ENGINUITY
// FTC 5969 | FRC 4538
// DESIGN BY JONATHAN LACSON
// LESS (CSS) -- INDEX PAGE ONLY!
// CODED IN BRACKETS

// VARIABLES
@col-bg: #400101;
@col-hf: #590202;
@col-nv: 'col-hf';
@col-bd: #BF0404;
@col-tx: #F2F2F2;

@height-hf: 150px;

/* LAYOUT */

html, body {
    padding: 0;
    margin: auto;
    height: 1400px;
}

html {
    background: @col-bg;
}

body {
    padding: 0;
    width: 960px;
    background: @col-bd;
}

#page {
    min-height: 100%;
    height: 100%;
    position: relative;
}

#main {
    padding-bottom: @height-hf;
}

/* HEADER */

#top {
    height: @height-hf;
    width: 100%;
    background: @col-hf;
    color: @col-tx;
}

