/*    TEAM ENGINUITY
      FTC 5969 / FRC 4538
      DESIGN BY JONATHAN LACSON
      CSS -- FOR EVERYTHING ELSE (STYLES, FONTS, ETC.)

      CODED IN BRACKETS */


/* ===================
   ===  ALIGNMENT  ===
   =================== */

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.centerblock {
    text-align: center;
    display: block;
    margin: auto;
}

/* ==============
   ===  SIZE  ===
   ============== */

.smallplz {
    width: 50%;
    height: 50%;
}

/* Font Constants */

h1 {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Droid Sans', Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
}

/* =======================
   ===  PAGE SPECIFIC  ===
   ======================= */

.youtube {
    box-shadow: 3px 3px 3px #000;
}

#u-teamphoto {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

/* About Us - Table */

#au-table {
    margin: 0 auto;
    table-layout: fixed;
}

#au-table thead tr td {
    border-bottom: 1px solid black;
}

#au-table tr td {
    vertical-align: middle;
}

#au-table tr td:first-child {
    width: 200px;
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid black;
}

#au-table tr td:nth-child(2) {
    padding-left: 20px;
}

#au-table tr td p:last-child:after {
    content: " ";
}

#au-table tr td p:after {
    content: ",";
}

#au-table tr td p {
    display: inline;
    border: 0;
    text-align: left;
    font-size: 0.8em;
}

/* Sponsors - Logos */

#sp-logos {
    width: 50%;
    margin: 0 auto;
/*    float: left;*/
}

#sp-logos img {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    width: 250px;
}

/* Sponsors - People */

#sp-people {
    width: 50%;
    float: right;
}

/* FTC/FRC info pages */

.gameinfo {
    margin: 0 auto;
    table-layout: fixed;
    padding-bottom: 20px;
}

.gameinfo * {
    vertical-align: middle;
}

.gameinfo .gamelogo {
    padding-right: 20px;
    border-right: 1px solid black;
}

.gameinfo .gamelogo img {
    width: 200px;
}

.gameinfo .gamevideo {
    padding-left: 20px;
}

.gamecontainer {
    display: block;
}

.gamelinks {
    float: left;
}

.gamelinks a {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear; 
    -o-transition: all 0.15s linear; 
    -ms-transition: all 0.15s linear; 
    text-decoration: none;
    color: #000;
}

.gamelinks a:hover {
    font-weight: bold;
    color: #A60000;
    padding-left: 20px;
}

.gametext {
    display: block;
    float: right;
}

/* Links */

.linkdesc {
    font-size: 0.8em;
}

#links a {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    text-decoration: none;
    color: #000;
}

#links a:hover {
    font-weight: bold;
    padding-left: 20px;
    color: #A60000;
}
