---
Title: Contact Us
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    { % include head.html %}
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Contact Us</h1>
                <p>Use the following contact information to make any inquiries regarding Team Enginuity.</p>
            <h2>Inquiries by Phone</h2>
                <h3>(757) 591-4700</h3>
            <h2>Inquiries by Email</h2>
                <p>Team Coach: Karen Bazemore</p>
                    <h3>kbazemore@mail.teamenginuity.org</h3>
                <p>Marketing-related (sponsorships, etc.)</p>
                    <h3>marketing@mail.teamenginuity.org</h3>
                <p>Webmaster: Jonathan L.</p>
                    <h3>webmaster@mail.teamenginuity.org</h3>
                <p>Other General Inquiries</p>
                    <h3>inquiries@mail.teamenginuity.org</h3>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>