---
Title: Contact Us Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.min.css" rel="stylesheet" type="text/css">
<!--jQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--OTHER-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>Contact Us | Team Enginuity</title>
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Contact Us</h1>
            <p>Use the following contact information to make any inquiries regarding <em>Team Enginuity.</em></p>
            <p>Inquiries by Phone</p>
            <h2>(757) 591-4700</h2>
            <p>Inquiries by Email</p>
            <h2>warwickhsrobotics [at] gmail [dot] com</h2>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>