---
Title: FRC Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
<!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
<!--OTHER-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>About FRC | Team Enginuity</title>
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>About FRC</h1>
            <p>2015 Game: <strong>Recycle Rush</strong></p>
            <p><strong>View Previous Games</strong> <a href="oldgames/frc2014.html">2014</a></p>
            <table class="gameinfo center">
                <tr>
                    <td class="gamelogo"><img alt="Recycle Rush Logo" src="./assets/first/frc2015.png"></td>
                    <td class="gamevideo"><iframe width="400" height="225" src="https://www.youtube.com/watch?v=hTyCIYZQ" frameborder="0" allowfullscreen></iframe></td>
                </tr>
            </table>
            <div class="gamecontainer">
                <div class="gamelinks">
                    <h2>Related Resources:</h2>
                    <ul>
                        <li><a target="_blank" href="http://www.usfirst.org/sites/default/files/uploadedFiles/Robotics_Programs/FRC/Game_and_Season__Info/2015/2015GameManual0116.pdf">
                            Game Manual</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/sites/default/files/uploadedFiles/Robotics_Programs/FRC/Game_and_Season__Info/2015/TeamUpdateBundle.pdf">
                            <strong>UPDATES</strong> to Manual</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/roboticsprograms/frc/technical-resources">
                            Technical Resources</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/roboticsprograms/frc/awards">
                            List of Available Awards</a></li>
                        <li><a target="_blank" href="https://frc-qa.usfirst.org/Questions.php">
                            Q&A With FIRST</a></li>
                    </ul>
                </div>
                <div class="gametext">
                    <p>RECYCLE RUSH is a recycling-themed game played by two Alliances of three robots each. Robots score points by stacking totes on scoring platforms, capping those stacks with recycling containers, and properly disposing of pool noodles, representing litter. In keeping with the recycling theme of the game, all game pieces used are reusable or recyclable by teams in their home locations or by FIRST® at the end of the season.</p> 
                    <p>Each Alliance competes on their respective 26 ft. by 27 ft. side of the playing field. Each match begins with a 15-second Autonomous Period in which robots operate independently of their drivers. During this period, robots attempt to earn points by moving themselves, their yellow totes, and their recycling containers into the area between the scoring platforms, called the Auto Zone. </p>
                    <p>During the remaining two minutes and 15 seconds of the match, called the Teleop Period, robots are controlled remotely by student drivers located behind the walls at the ends of the field. Teams on an Alliance work together to place as many totes on their white scoring platforms as possible. Alliances earn additional points for recycling containers placed on the scored totes, with containers at greater height earning more points. </p>
                    <p>Alliances also earn points for disposing of their litter in their Landfill Zone near the center of the field, or placing litter in or on scored recycling containers. Alliances that leave litter unprocessed on their side of the field at the end of the match, not in scoring position, will add points to the score of the other Alliance.</p>
                    <p>Alliances have an opportunity to earn Coopertition® points by coordinating with the other Alliance in the match. Coopertition points are awarded if, at some point in the match, there are at least four yellow totes on the step simultaneously. Coopertition points are doubled if the Alliances arrange at least four of those yellow totes in a single stack on the step.</p>
                </div>
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>