---
Title: FTC Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
<!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
<!--OTHER-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>About FTC | Team Enginuity</title>
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>About FTC</h1>
            <p>2014-15 Game: <strong>Cascade Effect</strong></p>
            <p><strong>View Previous Games</strong> <a href="oldgames/ftc2013.html">2013-2014</a></p>
            <table class="gameinfo center">
                <tr>
                    <td class="gamelogo"><img alt="FTC Cascade Effect logo" src="./assets/first/ftc2014.png"></td>
                    <td class="gamevideo"><iframe width="400" height="225" src="http://www.youtube.com/watch?v=ABmBxCwHV94" frameborder="0" allowfullscreen></iframe></td>
                </tr>
            </table>
            <div class="gamecontainer">
                <div class="gamelinks">
                    <h2>Related Resources:</h2>
                    <ul>
                        <li><a target="_blank" href="http://www.usfirst.org/sites/default/files/uploadedImages/Robotics_Programs/FTC/FTC_Documents_and_Updates/Game_Manual_Part_I.pdf">
                            Game Manual (Part 1)</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/sites/default/files/uploadedImages/Robotics_Programs/FTC/FTC_Documents_and_Updates/FTC_Game_Manual_Part_2-Rev_0_0.pdf">
                            Game Manual (Part 2)</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/roboticsprograms/ftc/team-resources">
                            Team Resources</a></li>
                        <li><a target="_blank" href="http://www.usfirst.org/roboticsprograms/ftc/mentors">
                            Mentor Resources</a></li>
                        <li><a target="_blank" href="http://ftcforum.usfirst.org/forum.php">
                            FTC Forum (Official by FIRST)</a></li>
                    </ul>
                </div>
                <div class="gametext">
                    <p>CASCADE EFFECT℠is played on a 3.66 m x 3.66 m (12’x12’) square Field with approximately 30.5 cm (1’)-high walls and a soft foam mat playing surface. Two randomly selected teams are paired together as an Alliance to play a match against a second Alliance. Alliances are designated as either “Red” or “Blue.”</p> 
                    <p>Scoring Elements are 160 white plastic balls - large (40) and small (120). In the middle of the field is the Center Field Structure which contains two Ball Dispensers with trap doors held in place by Alliance-specific Kickstands. There are also two Center Goals - one Red and one Blue - with Infrared Beacons placed beneath each Goal. The field has six Alliance-specific Rolling Goals with clear Ball Tubes of various heights (30 cm, 60 cm, 90 cm) as well as two Alliance-specific Ramps, Platforms, and Parking Zones.</p>
                    <p>At the start of the Match, the Balls (large and small) are loaded in the Dispensers in the Center Field Structure. Each Team is given two balls (one large and one small) that can be pre-loaded onto their robot. Matches have two distinct periods of play: a 30-second Autonomous period followed by a two-minute Driver-Controlled period, which includes a 30-second End Game.</p>
                </div>
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>