---
Title: Index Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
<!--
     TEAM ENGINUITY (INDEX)
     FTC 5969 | FRC 4538
     DESIGN BY JONATHAN LACSON

     CODED BY HAND IN BRACKETS
     VERSION 0.6e - 6 FEB 2014
-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.min.css" rel="stylesheet" type="text/css">
<!--jQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--OTHER-->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title>Home | Team Enginuity</title>
    <meta name='description' content="Second-Year FTC and FRC Team with lots of potential from Newport News, Virginia">
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Welcome!</h1>
            <img class="teamphoto" alt="Team Photo" src="./assets/home/teampic_small.jpg">
            <p class="center" style="font-size: 0.75em;"><strong>(un)official Team Photo</strong></p>
            <p>This is the official site of Team Enginuity. We are Warwick High School's Robotics Team in Newport News, Virginia. This year (the 2013-2014 school year) is our second. We are glad that you have decided to take the time to come check out our website! Whether you are part of a veteran FIRST team, a rookie team or not part of a team, our site contains lots of useful information. Here, you can find current information about the 2013 FTC Game, <strong>Block Party</strong>; and the 2014 FRC Game, <strong>Aerial Assist</strong>; along with further information about our team and our sponsors, media from previous competitons, and resources for other teams.</p>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
