---
Title: Links Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
<!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
<!--OTHER-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Links | Team Enginuity</title>
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Useful Links</h1>

            <h2>Resources</h2>
            <p class="linkdesc">Places with general knowledge about FIRST, FTC, or FRC topics.</p>
                <p><a target="_blank" href="http://www.usfirst.org/">
                    FIRST</a></p>
                <p><a target="_blank" href="http://www.virginiafirst.org">
                    Virginia FIRST (contains material related to FIRST events in the state of Virginia)</a></p>
                <p><a target="_blank" href="http://www.thebluealliance.com">
                    The Blue Alliance (contains statistics on every FRC team)</a></p>

            <h2>Message Boards / Forums</h2>
            <p class="linkdesc">Places to discuss, ask questions and reach the broader public with issues concerning FTC or FRC.</p>
                <p><a target="_blank" href="http://www.chiefdelphi.com/forums/index.php">
                    Chief Delphi</a></p>
                <p><a target="_blank" href="http://www.chiefdelphi.com/forums/forumdisplay.php?f=146">
                    Chief Delphi (FTC sub-forum)</a></p>
                <p><a target="_blank" href="http://www.reddit.com/r/FRC">
                    /r/FRC on Reddit</a></p>
                <p><a target="_blank" href="http://www.reddit.com/r/FTC">
                    /r/FTC on Reddit</a></p>

            <h2>Nearby Teams</h2>
                <p class="linkdesc">If you would like your team featured here and you are in the Hampton Roads area, please send an email to <strong>warwickhsrobotics [at] gmail [dot] com.</strong></p>
                <p><a target="_blank" href="http://www.triplehelixrobotics.org/index.html">
                    Triple Helix (FRC 2363)</a></p>
                <p><a target="_blank" href="http://www.team122.org/">
                    The NASA Knights (FRC 122)</a></p>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>