---
Title: Sponsors
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    { % include head.html %}
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Sponsors</h1>
            <p>Team Enginuity would like to thank the following organizations and individuals for their contributions. These contributions help fund expenditures such as registration fees, travel expenses, extra parts, marketing costs, and more.</p>
            <div id="sp-logos" class="center">
                <h2>Organizations</h2>
                <a href="http://sbo.nn.k12.va.us" target="_blank"><img alt="Newport News Public Schools" src="./assets/spon/nnps.gif"></a>
                <a href="http://robotics.nasa.gov" target="_blank"><img alt="NASA" src="./assets/spon/nasa.png"></a>
                <a href="http://www.rockwellcollins.com/" target="_blank"><img alt="Rockwell Collins" src="./assets/spon/rockwell.png"></a>
            </div>
            <div id="sp-people" class="center">
                <h2>Individuals</h2>
                <p>Christian May</p>
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>