---
Title: Team Roster Page
---


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--CSS-->
    <link href='http://fonts.googleapis.com/css?family=Oswald|Raleway:500|Open+Sans:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/master.css" rel="stylesheet" type="text/css"/>
<!--JS-->
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>
    <script type='text/javascript' src='js/dynamicpage.js'></script>
<!--OTHER-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Team Roster | Team Enginuity</title>
</head>

<body>
    <div id="page">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="navbar">
            {% include navbar.html %}
        </div>
        <div id="main">
            <h1>Team Roster</h1>
            <table id="team-table" border=0>
                <colgroup>
                    <col span="1">
                    <col span="1">
                </colgroup>
                <tr>
                    <td><h2>Team</h2></td>
                    <td><h2>Members</h2></td>
                </tr>
                <tr>
                    <td>Coaches + Mentors</td>
                    <td><h3>Coach: Karen Bazemore</h3>
                        <p>J. Stork (NNPS)</p>
                        <p>M. Johnson (US Navy and FIRST alum)</p>
                        <p>C. Foster (NASA)</p>
                        <p>A. Welters (NASA)</p>
                        <p>J. Welters (NASA)</p>
                        <p>M. Cooney (NASA)</p>
                        <p>E. Leeks (Huntington Ingalls)</p>
                    </td>
                </tr>
                    <td>Mechanisms</td>
                    <td>
                        <p>Danielle C. (2016)</p>
                        <p>Justin G. (2016)</p>
                        <p>Kyra M. (2016)</p>
                        <p>Joanne S. (2016)</p>
                        <p>Abby N. (2016)</p>
                        <p>Jalisa W. (2016)</p>
                    </td>
                </tr>
                <tr>
                    <td>Drivetrain</td>
                    <td>
                        <p>Quintin L. (2016)</p>
                        <p>Ernest N. (2016)</p>
                        <p>Adam P. (2016)</p>
                        <p>Josue M. (2018)</p>
                    </td>
                </tr>
                <tr title="system.out.println('Team Hello World')">
                    <td>Programming</td>
                    <td>
                        <p>Sahaj B. (2015)</p>
                        <p>Lawrence P. (2015)</p>
                        <p>Rakshith R. (2015)</p>
                        <p>Bryce E. (2018)</p>
                    </td>
                </tr>
                <tr>
                    <td>Systems Engineering</td>
                    <td>
                        <p title="Safety Captain">Las S. (2016)</p>
                        <p>Sarah F. (2016)</p>
                    </td>
                </tr>
                <tr>
                    <td>Website / Media</td>
                    <td>
                        <p title="Hope you like the site!">Jonathan L. (2016)</p>
                    </td>
                </tr>
                <tr>
                    <td>Alumni</td>
                    <td>
                        <p>Thomas O. (2013)</p>
                        <p>Andres S. (2014)</p>
                        <p>Courtney S. (2014)</p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>